nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1{
    font-size: 2em !important;
}

.flex-center{
    display: flex;
    align-items: center;
}

.space-between, .justify-between{
    justify-content: space-between;
    display: flex;
    width: 100%;
}